.brackets {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.brackets__header {
  position: relative;
  display: inline-block;
  padding: 0 .5em;
}

.brackets__header::before,
.brackets__header::after {
  content: "\0020";
  width: 1000px;
  position: absolute;
  height: 20px;
  margin-top: -8px;
  top: 50%;
  background-image: url('../img/pok-dbl-border.png');
  background-repeat: repeat-x;
  background-position: center;
}

.brackets__header::before {
  border-right: 1px solid $blue;
  right: 100%;
}

.brackets__header::after {
  border-left: 1px solid $blue;
  left: 100%;
}
