form {
  margin-bottom: $global-margin;
}

input,
select,
textarea {
  border-bottom: 2px solid $periwinkle;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  &:active,
  &:focus {
    border-bottom: 2px solid $periwinkle-dk;
  }
}

fieldset {
  margin-bottom: $global-margin;
}

legend {
  color: $dark-gray;
  font-family: $body-font-family-serif;
  font-size: 1.2em;
  margin-bottom: $global-margin;
}

.input-group-button {
  background-color: $white;
  border-bottom: 2px solid $periwinkle;
  padding-right: .5em;

  svg {
    fill: $blue;
    height: 1.2em;
    vertical-align: middle;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:active {
    background-color: transparent;
  }
}

label {
  margin-bottom: .4em;
}
