body{
  @include breakpoint(large){
    border-top: solid 14px $navy;
  }
  overflow-x: hidden;
}

h2{
  line-height: 1.25em;
}

h3, h4, h5, h6{
  font-family: $body-font-family;
  text-transform: uppercase;
}

.header-no-margin{
  margin-bottom: .2em;
}

.subheader{
  text-transform: none;
}

.lead{
  font-family: $body-font-family-serif;
}

a{
  font-weight: 500;
  &:link, &:visited{
    color: $navy;
    text-decoration: underline;
  }

  &:hover, &:active{
    color: $navy-dk;
    background-color: $periwinkle;
  }
}

main{
  padding: 2em 0 5em 0;
  text-align: center;
  @include breakpoint(medium){
    text-align: left;
    padding: 2em 0 10em 0;
  }
}

.label{
  font-weight: 600;
  font-family: $body-font-family;
  margin-bottom: 1.5em;
}

ul{
  @include breakpoint(medium){
    list-style-position: outside;
  }
}

li{
  margin-bottom: .2em;
}