header {
  margin-bottom: 1em;
  position: relative;
}

.header-wrapper {
  border-bottom: 4px solid $blue;
  position: relative;
}

.logo {
  display: block;
  margin: 2em auto 1.2em;
  vertical-align: bottom;
  width: 75%;

  @include breakpoint(medium) {
    margin: 4em auto 1.2em;
    width: 50%;
  }

  @include breakpoint(large) {
    margin-bottom: 0;
    margin-top: 3em;
    width: 100%;
  }

  &:link,
  &:visited {
    svg {
      fill: $black;
    }
  }

  &:hover,
  &:active {
    background-color: transparent;

    svg {
      fill: $medium-gray;
    }
  }
}

.title-bar {
  display: inline-block;
}
