.hero{
  width: 100%;
  display: block; 
  overflow: hidden;
  position: relative;
  z-index: 0;

  img{
    width: 100%;
    height: auto;
  }
}

// .caption{
//   padding: .5em 1em;
//   background-color: $navy;
//   color: $white;
//   font-size: .8em;
//   display: block;
// }