.intro {
  margin-top: 2em;
  position: relative;
  text-align: center;
  z-index: 2;

  @include breakpoint(medium) {
    margin-top: -9.5em;
  }
}

.intro__wrapper {
  @include breakpoint(medium) {
    background-color: transparentize($white, .2);
    border: 4px solid $periwinkle;
    padding: 2.5em;
  }
}

.intro__header {
  color: $black;
  font-size: 1.5em;

  @include breakpoint(medium) {
    font-size: 1.8em;
  }
}

.intro__list {
  list-style-type: none;
  margin: 2em 0 0;
}

.intro__item {
  color: $navy;
  font-family: $header-font-family;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: .2em;

  @include breakpoint(medium) {
    font-size: 3em;
  }
}
