.locations{
  padding: 2em 0;
  text-align: center;
  position: relative;
  @extend %periwinkle-white-gradient;
  @include breakpoint(large){
    padding: 5em 0;
  }

  .blue-border{
    margin-left: auto;
    margin-right: auto;
  }
}

.locations__address{
  margin-top: 2em;
}