.locations {
  @extend %periwinkle-white-gradient;
  padding: 2em 0;
  position: relative;
  text-align: center;

  @include breakpoint(large) {
    padding: 5em 0;
  }

  .divider {
    margin-left: auto;
    margin-right: auto;
  }
}

.locations__address {
  margin-top: 2em;
}
