// Prevents FOUC

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}


// nav styles

nav {

  @include breakpoint(medium) {
    text-align: center;
  }

  @include breakpoint(large) {
    margin-top: 4.4em;
    text-align: right;
  }
}

.main-nav {
  @include breakpoint(medium) {
    display: inline-block;
  }
}

.main-nav__link {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    background-color: $periwinkle-lt;
    color: $black;
  }
}

.is-dropdown-submenu-parent.is-down-arrow > a::after {
  margin-top: 2px;
  right: 9px;
}

.is-dropdown-submenu-parent a::after {
  margin: 0;
}

.sub-nav {
  background-color: $periwinkle-lt;
  padding: .8em 0;
}

.menu.nested {
  margin: 0;

  @include breakpoint(medium) {
    margin-left: 1em;
  }
}

.sub-nav__link {
  font-weight: 500;
  line-height: 1.5em !important;
  text-align: left;
  text-decoration: none;

  @include breakpoint(medium) {
    &:link,
    &:visited {
      color: $black;
    }

    &:hover,
    &:active {
      background-color: $periwinkle;
      color: $black;
    }
  }

  &:link,
  &:visited {
    text-decoration: none;
  }
}
