.service {
  padding: 2em 0;
  position: relative;
  text-align: center;

  @include breakpoint(large) {
    padding: 5em 0;
    text-align: left;
  }

  .divider {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.service__lead {
  font-family: $body-font-family-serif;
}
