.service{
  padding: 2em 0;
  text-align: center;
  position: relative;
  @include breakpoint(large){
    text-align: left;
    padding: 5em 0;
  }

  .blue-border{
    margin-right: auto;
    margin-left: auto;
    @include breakpoint(large){
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.service__lead{
  font-family: $body-font-family-serif;
}