.no-bottom-margin {

  *:last-of-type {
    margin-bottom: 0;
  }
}

.pok-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8);
  flex-direction: column;
  z-index: 1;  

  p {
    color: white;
  }

  .map-box {
    width: 80vw;
    height: 80vh;
    border: 2px solid white;
    background: gray;
  }

  .close {
    color: white;
    font-size: 32px;
    width: 80vw;
    text-align: right;

    span {
      cursor: pointer;
    }

  }
}

.blog-rail__section {
  .post-categories {
    list-style-type: none;
    margin: 0;
    a {
      text-decoration: none;
    }
  }
}

// site main menu
#menu-header-menu,
#menu-header-menu-1 {

  ul {
    margin-left: 0;
    li {
      padding: 11.2px;
      list-style: none;
      text-align: left;
    }
  }

  @include breakpoint(small down) {

    li.menu-item-has-children {
      background: $periwinkle-lt;
    }
  }

}

@include breakpoint(small down) {
  .menu-header-menu-container {
    display: none;
  }

  .reveal {

    min-height: 0;
    height: auto;
  }
}

.client-portal.logged-in {
  a {
    color: white;
    font-weight: bold;
    text-decoration: none;

    &:first-of-type {
      margin-right: 7px;
    }

    &:hover {
      text-decoration: none;
      background: transparent;
    }
  }

  @include breakpoint(medium only) {
    a {
      float: right;
      clear: right;
      margin-right: 0 !important;
      &:first-of-type {
        margin-bottom: 5px;
      }
    }
  }
}

.single .bio__headshot {
  margin-right: 20px;
  width: 50%;

  @include breakpoint(small down) {
    width: 100%;
  }
}

.button.primary {
  background: $navy;
}
